

.col-1-5 {
  flex: 0 0 11.5%;
  max-width: 11.5%;
  margin-right: 5px;
}
.col-1-25 {
  flex: 0 0 11%;
  max-width: 11%;
  margin-right: 5px;
}

.col-1-1 {
  flex: 0 0 9%;
  max-width: 9%;
  margin-right: 5px;
}

.btn-md {
width: 120px;
}

.btn-top-height-gg {
height: 50px;
}

.top-button-city{
width: 200px;
margin-right: 20px;

}


.all-page {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('/static/assets/img/pawel-czerwinski-uEy4MoH-vqA-unsplash.jpg');
    background-size: cover;
}



.table-success,
.table-success > th,
.table-success > td {
background-color: #050707;
border-top: #438EA0 solid 1px !important;
border-bottom: #438EA0 solid 1px !important;
}

.table-success > th {

    border-top: #050707 solid 1px !important;
}

.glass-morph{
    background-color: #080D0715;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

.glass-morph1{
    background-color: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(
    360deg,
    rgba(255,255,255,0.3),
    rgba(100,100,100,0.2)
    )
}


.glass-morph2{
    background-color: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(
    120deg,
    rgba(255,255,255,0.2),
    rgba(0,0,0,0.1)
    )
}

.glass-morph-color{
    background-color:#050707;
}

.give-more-margin {
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}

.gray-font-color{
color: #438EA0;
}

.hide-font-color{
color: #42929A;
}

.yellow-triad-color{
color: #A19943;
}

.pink-triad-color{
color: #A14364;
}

.roar{
font-weight:800;
  font-size: 5.2em;
  background: linear-gradient(to right,#438EA0 15%, #9A9341 50%, #A14364 90%);
background-size: 200% auto;
color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 6s linear infinite, opacity 5s linear;
display: inline-block;
animation-direction: alternate;

}

h1 {
font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: 500;
  color: #438EA0;
  animation: opacity 5s linear;

}

@keyframes opacity {
 from {
    opacity: 0;
 }to{
    opacity: 1;
 }
}

@keyframes textclip {
	to {
		background-position: 100% center;
	}
}



.header{
background: rgb(5,7,7);
background: radial-gradient(circle, rgba(5,7,7,1) 76%, rgba(40,47,47,1) 100%, rgba(70,93,93,1) 100%);
}

.header-border{
border-bottom: 1px solid #438EA0;

margin-left: 30%;
margin-right: 30%;
}

h2, h4, h5 {
font-family: "Raleway", sans-serif;
}

h3 {
font-weight: 650;
}

.more-padding{
padding-top: 70px;
}

.my-navbar {
padding: 2vh;
font-family: "Raleway", sans-serif;
color: #212529;
display: flex;
justify-content: center;
align-items: center;
}

.main-menu{
display: flex;
justify-content: center;
align-items: center;
}

#a-menu {
    padding-left: 25px;
      padding-right: 25px;
      font-family: "Raleway", sans-serif;
      color: #ecf0f1;
      font-weight: 700;
        letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;
&:hover {
        color: #ecf0f199;
      text-decoration: none;
      }
}

.a-left {

      padding-left: 10px;
      padding-right: 10px;
      font-family: "Raleway", sans-serif;
      color: #ecf0f1;
      text-decoration: none;
      text-transform: uppercase;
        animation: animMenu 5s;

      &::after {
      text-decoration: none;
        display: flex;
        content: "";
        height: 1px;
        background: #438EA0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
      }

      &:hover {
        color: #ecf0f1;
      text-decoration: none;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: right;
      text-decoration: none;
      }
    }


.a-right {
      &::after {
      transform-origin: right;
      }

      &:hover::after {
      transform-origin: left;
      }
    }


#hide-main-warszawa, #hide-main-krakow, #hide-krakow, #hide-warszawa{
opacity: 0;
cursor: default;
pointer-events: none;

}

.line-menu{
margin-left: 10px;
margin-right: 10px;
padding-left: 10px;
padding-right: 10px;
border-bottom: 1px solid #438EA0;
pointer-events: none;



}

#hide-krakow, #hide-warszawa{
margin: 0 5%;
display:flex;
justify-content: center;
align-items: center;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    filter: blur(15px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.play-anim-left {
    animation: animate-slide-left 0.7s;
}

.play-anim-right{
    animation: animate-slide-right 0.7s;
}

@keyframes animate-grow {
  0% {
    opacity: 0;
    transform: scale(0, 1);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes animate-flip {
  0% {
    opacity: 0;
    transform: rotateX(-120deg) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1, 1);
  }
}

@keyframes animate-slide-left {
  0% {
    opacity: 0;
    transform: translate(30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-slide-right {
    0% {
        opacity: 0;
        transform: translate(-30px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
