<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
        {% block styles %}
            <link rel="stylesheet" href="static/css/bootstrap.css">
            <link rel="stylesheet" href="static/css/styles.css">

        {% endblock %}

        <title>Your page title</title>
        <!-- Latest compiled and minified CSS -->

        {% endblock %}

    </head>
    <body>
        <!-- Your page content -->
        {% block content %}

        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
        {% endblock %}
    </body>


</html>