{% extends 'base_eng.html' %}


{% block content %}

<div class="all-page pt-5">

    {% include 'logo_eng.html' %}

    <a class="btn" id="english-language" href="{{url_for('index_eng')}}">Eng</a>
    <a class="btn" id="polish-language" href="{{url_for('index')}}">Pl</a>
    {% include 'filter.html' %}
    <!-- Checking if any records are fetched otherwise return no record page -->
    {% if data[1]|length > 0 %}

    {% include 'main_stats_eng.html' %}

    {% include 'container_bar_pie_sell_eng.html'  %}

    {% include 'table_eng.html'  %}

    {% else %}

      <!-- Return no record page if no records are fetched -->
    {% include 'no_records_eng.html'  %}

    {% endif %}

    <div class="container mt-5 pb-5 text-primary">
    <h4>@2024 Bartlomiej Sokol</h4>
    </div>
</div>


{% endblock %}