{% extends 'base.html' %}


{% block content %}

<div class="all-page pt-5">
<div class="container pt-5">
  <header>
      <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
              <h1 data-text="Kraków mieszkania"></h1>
              </div>
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/7ffeb1fa-b8e9-40ba-b346-d86d24b755bc/sy9z4PL7U4.json" background="transparent" speed="1" style="width: 300px; height: 100px; float:right;" loop autoplay></dotlottie-player>
  </div>
  </header>

</div>
  <div class="container">
    <div class="card glass-morph" >
  <div class="card-body">
    <form  method="post">
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-1-25 ml-1">
      {{ form.min_rooms(class="form-control", disabled=land) }}
        </div>
          <div class="col-1-25">
      {{ form.max_rooms(class="form-control", disabled=land) }}
          </div>
          {% if (land == True) and (house==True) %}
 <div class="col-1-1">
      {{ form.min_area_land(class="form-control") }}
</div>
    <div class="col-1-1">
      {{ form.max_area_land(class="form-control") }}
      </div>
          {% elif (house == True) and (land == False) %}
  <div class="col-1-1">
      {{ form.min_area_house(class="form-control") }}
</div>
    <div class="col-1-1">
      {{ form.max_area_house(class="form-control") }}
      </div>
          {% else %}
<div class="col-1-1">
      {{ form.min_area(class="form-control") }}
</div>
    <div class="col-1-1">
      {{ form.max_area(class="form-control") }}
      </div>
          {% endif %}
    <div class="col-1-25">
      {{ form.min_floor(class="form-control", disabled=house) }}
      </div>
    <div class="col-1-25">
      {{ form.max_floor(class="form-control", disabled=house) }}
      </div>
        <div class="col-1-5">
      {{ form.rent_sell(class="form-control1", disabled=house) }}
          </div>
        <div class="col-1-25">
      {{ form.submit(class="btn btn-success btn-md ml-5") }}
        </div>
        <div class="col-1-25">
        <a href="{{url_for('index')}}" class="btn btn-outline-primary ml-5" id="reset-page-form">Reset</a>
        </div></div>
        </form>

  </div>
</div>
<!-- Checking if any records are fetched otherwise return no record page -->
      {% if data[1]|length > 0 %}

      {% include 'main_stats.html' %}

      {% include 'container_bar_pie_sell.html'  %}

      {% include 'table.html'  %}

      {% else %}

      <!-- Return no record page if no records are fetched -->
      {% include 'no_records.html'  %}

{% endif %}

    </div>
    <div class="container mt-5 pb-5 text-primary">
    <h4>@2024</h4>
    </div>
</div>




{% endblock %}