{% extends 'base.html' %}


{% block content %}

<div class="all-page pt-5">

    {% include 'logo.html' %}

    {% include 'filter.html' %}
    <!-- Checking if any records are fetched otherwise return no record page -->
    {% if data[1]|length > 0 %}

    {% include 'main_stats.html' %}

    {% include 'container_bar_pie_sell.html'  %}

    {% include 'table.html'  %}

    {% else %}

      <!-- Return no record page if no records are fetched -->
    {% include 'no_records.html'  %}

    {% endif %}

    <div class="container mt-5 pb-5 text-primary">
    <h4>@2024 Bartlomiej Sokol</h4>
    </div>
</div>


{% endblock %}