
<div class="container mt-5">
    <div class="row">
<div class="col-1"></div>
<div class="card-group col-10 text-primary">


  <div class="card glass-morph">
    <div class=" card-body text-center d-flex align-items-center justify-content-center">
      <div class="card-header yellow-triad-color">
      <h3>{{ "{:,}".format(data[2][0][0]|int)}} zł </h3>
          {% if data[2][0]|length == 3 %}
          <h5 class="gray-font-color"> Średnia cena za m2</h5>
          {% else %}
      <h5 class="gray-font-color"> Średnia cena wynajmu bez czynszu</h5>
          {% endif %}
      </div>
    </div>
  </div>

    <div class="card glass-morph">
    <div class="card-body text-center d-flex align-items-center justify-content-center">
      <div class="card-header">

          {% if data[3][0] >= 0 %}
          <h4 class="green">+{{ data[3][0] }}%</h4>
          {% else %}
          <h4 class="red">{{ data[3][0] }}%</h4>
          {% endif %}

      </div>
    </div>
          </div>
    <div class="card glass-morph">
    <div class=" card-body text-center d-flex align-items-center justify-content-center">
      <div class="card-header yellow-triad-color">
          <div class="text-center text-primary d-flex justify-content-center align-items-center font-italic">
              <h4>Weekly stats</h4>
          </div>
      </div>
    </div>
  </div>
          <div class="card glass-morph">
    <div class="card-body text-center d-flex align-items-center justify-content-center">
      <div class="card-header yellow-triad-color">
          {% if data[2][0]|length == 3 %}
      <h3>{{ data[2][0][2] }}</h3>
     {% else %}
        <h4>{{ data[2][0][1] }}</h4>
     {% endif %}
        <h5 class="gray-font-color">Ilość ogłoszeń</h5>
      </div>
    </div>
          </div>


    <div class="card glass-morph">
    <div class="card-body text-center d-flex align-items-center justify-content-center">
      <div class="card-header">

          {% if data[3][1] >= 0 %}
          <h4 class="green">+{{ data[3][1] }}</h4>
          {% elif data[3][1] == 0 %}
          <td class="text-center blue">-</td>
          {% else %}
          <h4 class="red">{{ data[3][1] }}</h4>
          {% endif %}

      </div>
    </div>
          </div>
    </div>

    </div>
</div>
