<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<div class="parent">
    <div class="image">
    <img class="bronowice thumbnail" src="static/assets/img/bronowice.svg" alt="My Happy SVG"/>
    <h5 class="bronowice-text">ghdfshs</h5></div>
    <div class="image">
    <img class="pradnik_bialy" src = "static/assets/img/pradnik_bialy.svg" alt="My Happy SVG"/>
    <h5 class="pradnik_bialy-text">ghdfshs</h5></div>
    <img class="zwierzyniec" src = "static/assets/img/zwierzyniec.svg" alt="My Happy SVG"/>
    <img class="debniki" src = "static/assets/img/debniki.svg" alt="My Happy SVG"/>
    <img class="krowodrza" src = "static/assets/img/krowodrza.svg" alt="My Happy SVG"/>
    <img class="stare_miasto" src = "static/assets/img/stare_miasto.svg" alt="My Happy SVG"/>
    <img class="pradnik_czerwony" src = "static/assets/img/pradnik_czerwony.svg" alt="My Happy SVG"/>
    <img class="grzegorzki" src = "static/assets/img/grzegorzki.svg" alt="My Happy SVG"/>
    <img class="swoszowice" src = "static/assets/img/swoszowice.svg" alt="My Happy SVG"/>
    <img class="borek_falecki_lagiewniki" src = "static/assets/img/borek_falecki_lagiewniki.svg" alt="My Happy SVG"/>
    <img class="podgorze_duchackie" src = "static/assets/img/podgorze_duchackie.svg" alt="My Happy SVG"/>
    <img class="podgorze" src = "static/assets/img/podgorze.svg" alt="My Happy SVG"/>
    <img class="biezanow" src = "static/assets/img/biezanow.svg" alt="My Happy SVG"/>
    <img class="czyzyny" src = "static/assets/img/czyzyny.svg" alt="My Happy SVG"/>
    <img class="nowa_huta" src = "static/assets/img/nowa_huta.svg" alt="My Happy SVG"/>
    <img class="wzgorza_krzeslawickie" src = "static/assets/img/wzgorza_krzeslawickie.svg" alt="My Happy SVG"/>
    <img class="bienczyce" src = "static/assets/img/bienczyce.svg" alt="My Happy SVG"/>
    <img class="mistrzejowice" src = "static/assets/img/mistrzejowice.svg" alt="My Happy SVG"/>
</div>
</body>
</html>