
<!-- Difference for rent and sell. Setting up the var -->
      {% if data[2][0]|length != 3 %}
      {% set x = 1 %}
      {% else %}
      {% set x = 0 %}
      {% endif %}

<div class="container">
<table class="table table-hover table-sm mt-5 text-primary">
  <thead>
    <tr class="table-success">
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">District</th>
      <th scope="col" class="text-center">Average price for m2</th>
      <th scope="col" class="text-center">Weekly change</th>
      <th scope="col" class="text-center">Average price</th>
      <th scope="col" class="text-center">Average area</th>
      <th scope="col" class="text-center">Advertisement quantity</th>
      <th scope="col" class="text-center">Weekly change</th>
    </tr>
  </thead>

  <tbody>
    <!-- Checking names in database and fixing it for krakow -->
    {% for i in data[1] %}
    {% if i[0] != "N/A" %}
    <tr class="table-success">
      <th scope="row" class="text-center">{{ loop.index }}</th>
        {% if i[0] == "Krzesławickie" %}
        <td class="text-center tab">{{ "Wzgórza Krzesławickie" }}</td>
        {% elif i[0] == "Czerwony" %}
        <td class="text-center">{{ "Prądnik Czerwony" }}</td>
        {% elif i[0] == "Biały" %}
        <td class="text-center">{{ "Prądnik Biały" }}</td>
        {% elif i[0] == "Duchackie" %}
        <td class="text-center">{{ "Podgórze Duchackie" }}</td>
        {% elif i[0] == "Fałęcki" %}
        <td class="text-center">{{ "Borek Fałęcki" }}</td>
        {% elif i[0] == "Huta" %}
        <td class="text-center">{{ "Nowa Huta" }}</td>
        {% else %}
      <td class="text-center">{{ i[0] }}</td>
        {% endif %}

      <!--Average price -->
      <!--Calculation for rent has to be done with dividing two columns -->
      {% if data[2][0]|length == 3 %}
        <td class="text-center">{{ "{:,}".format(i[1]|int) }} zł</td>
      {% elif (i[1] != None) and (i[2] != None)%}
        <td class="text-center">{{ "{:,}".format((i[1]/i[2])|int) }} zł</td>
      {% endif %}

      <!-- Returning var and fetching data for change in price w/w -->
      {% if i[5 - x] > 0 %}
        <td class="text-center green">{{ i[5 - x] }} %</td>
      {% else %}
      <td class="text-center red">{{ i[5 - x] }} %</td>
      {% endif %}

      <!-- Return avg price -->
      <td class="text-center">{{ "{:,}".format(i[2 - x]|int) }} zł</td>

      <!-- Return area -->
      <td class="text-center">{{ i[3 - x]|int }} m2</td>

      <!-- Return adds number -->
      <td class="text-center">{{ i[4 - x] }}</td>

      <!-- Return adds change w/w -->
      {% if i[6 - x] > 0 %}
        <td class="text-center green">+{{ i[6 - x] }}</td>
      {% elif  i[6 - x] == 0 %}
      <td class="text-center blue">-</td>
      {% else %}
      <td class="text-center red">{{ i[6 - x] }}</td>
      {% endif %}
    </tr>

    {% endif %}
    {% endfor %}

    </tbody>
</table>
</div>